body {
    background-image: url("./assets/newyorkbg.jpg");
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%;
    margin-bottom: 25px;
    font-family: 'Thasadith', sans-serif;
}

#musicInput {
    margin-right: 520px;
    width: 400px;
    background-color: #e6e6ff;
}

#searchBtn {
    width: 90px;
    margin-left: 410px;
    height: 42px;
}

.maincard {
    margin-top: 130px;
    opacity: 70%;
}

#aboutUsCon {
    margin-top: 5px;
}

.vision {
    background-color: #a6a6a6;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.searchHistory {
    background-color: #a6a6a6;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 500px;
    padding-right: 100px;
}

.musicPlayer {
    background-color: #b3b3b3;
    margin-right: 30px;
    margin-top: 20px;
}

.infoBox {
    opacity: 90%;
}

.musicPlaylist {
    background-color: #b3b3b3;
    margin-right: 30px;
    margin-bottom: 20px;
}

#ytGrid {
    height: 500px;
    width: 630px;
}

#playIcon {
    height: 60px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.caption {
    text-align: center;
    margin-top: 15px;
}

.textDescription {
    display: block;
    margin-left: 80px;
    margin-right: 30px;
    text-align: center;
}

#musicQuote {
    text-align: center;
    font-style: italic;
    margin-top: 20px;
    padding-top: 70px;
    font-size: 18px;
    background-color: #b3b3b3;
    margin-right: 30px;
}

#musicImg {
    width: 500px;
    height: 600px;
}