body {
    background-image: url("./assets/newyorkbg.jpg");
    background-size: cover;
    background-position: center;
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
}

#musicInput {
    margin-right: 520px;
    width: 400px;
    background-color: #e6e6ff;
}

#searchBtn {
    width: 90px;
    margin-left: 410px;
    height: 42px;
}

.maincard {
    margin-top: 200px;
    opacity: 70%;
}

.searchHistory {
    background-color: #a6a6a6;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 500px;
    padding-right: 100px;
}

.musicPlayer {
    background-color: #b3b3b3;
    margin-right: 30px;
    margin-top: 20px;
}

.musicPlaylist {
    background-color: #b3b3b3;
    margin-right: 30px;
    margin-bottom: 20px;
}