body {
    background-image: url("./assets/newyorkbg.jpg");
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%;
    margin-bottom: 25px;
    font-family: 'Thasadith', sans-serif;
    /* overflow: hidden; */
}

#brandName {
    text-align: center;
    font-size: 50px;
    padding-top: 300px;
    font-weight: bolder;
}

#musicInput {
    margin-right: 520px;
    width: 400px;
    background-color: #e6e6ff;
}

#searchBtn {
    width: 90px;
    margin-left: 410px;
    height: 42px;
}

#saveBtn {
    float: right;
    margin-right: 10px;
    /* margin-top: 20px; */
    margin-bottom: 0px;
}

#clearBtn {
    /* float: right; */
    margin-right: 20px;
}

#downButton {
    margin-bottom: 100px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    align-items: center;
}

.maincard {
    margin-top: 130px;
    opacity: 90%
}

#musicBox {
    padding-top: 500px;
}

.vision {
    background-color: #a6a6a6;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.songLyrics {
    background-color: #a6a6a6;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 500px;
    padding-right: 100px;
}

.playlistBox {
    padding-bottom: 50px;
}

.soundCloudPlaylist,
.youTubePlaylist,
.userSavePlaylists {
    background-color: #b3b3b3;
    margin-right: 30px;
    margin-top: 20px;
    margin-left: 30px;
}

#ytGrid,
#scGrid {
    height: 500px;
    width: 630px;
}

.albumCover {
    opacity: 80%;
}

.caption {
    text-align: center;
    margin-top: 15px;
}

#backToTop {
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 50px;
    /* position: relative; */
}


/* CSS Styling for aboutUs.html */

.brandStatement {
    margin-top: 50px;
}

.infoBox {
    opacity: 90%;
    padding-bottom: 400px;
    padding-top: 20px;
}

#aboutUsCon {
    margin-top: 5px;
}

#musicImg {
    width: 610px;
    height: 860px;
}

#musicQuote {
    text-align: center;
    font-style: italic;
    margin-top: 20px;
    padding-top: 100px;
    font-size: 18px;
    background-color: #d9d9d9;
    margin-right: 30px;
    margin-left: 30px;
}

#whatWeDo {
    background-color: #b3b3b3;
    margin-right: 30px;
    margin-bottom: 20px;
    margin-left: 30px;
}

#playIcon,
#pauseIcon,
#shuffleIcon,
#forwardIcon {
    height: 30px;
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.textDescription {
    display: block;
    margin-left: 80px;
    margin-right: 80px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}


/* styling for Profiles Page */


/* add class for JavaScript */

.borderList {
    margin-top: 5px;
    border-bottom: 3px solid #e6e6e6;
    /* margin-left: 10px; */
    display: block;
    /* font-weight: bold; */
}